<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
    <title>ログイン</title>
</head>
<body>
    <form th:action="@{/auth/login}" method="post" th:Object="${accountForm}">
        <input type="text" th:field="*{accountId}" placeholder="ID">
        <p th:if="${#fields.hasErrors('accountId')}" th:errors="*{accountId}"></p>
        <input type="text" th:field="*{password}" placeholder="パスワード">
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
        <input type="text" th:field="*{retypedPassword}" placeholder="パスワード(再入力)">
        <p th:if="${#fields.hasErrors('retypedPassword')}" th:errors="*{retypedPassword}"></p>
        <input type="submit" value="ログイン">
        <p th:if="${#fields.hasErrors('passwordValid')}" th:errors="*{passwordValid}"></p>
    </form>
    <select name="" id="">
        <option value="">0000000000000000</option>
        <option value="">0000000000000000</option>
    </select>
    <a href="auth/passwordReset.html" th:href="@{/auth/passwordReset}">パスワードを忘れた</a>
    <a href="auth/createAccount.html" th:href="@{/auth/createAccount}">新規アカウント作成</a>
</body>
</html>