<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ご購入の確定 | 株式会社ニーズ＆フーズ</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>購入が確定しました。お買い上げありがとうございます。</h1>
    
    <div>
        <h2>購入情報</h2>
        <p>購入者 : <span>A店</span></p>
        <table>
            <tr>
                <th>食材名</th>
                <th>単位</th>
                <th>値段(円)</th>
                <th>購入個数</th>
                <th>購入金額(円)</th>
            </tr>
            <tr th:each="name ,iter : ${modelMap.orderForm.name}">
                <td th:text="${modelMap.orderForm.name[iter.index]}">商品名</td>
                <td th:text="${modelMap.orderForm.salesUnit[iter.index]}">単位</td>
                <td th:text="${modelMap.orderForm.price[iter.index]}">値段</td>
                <td th:text="${modelMap.orderForm.numPurchase[iter.index]}">購入数</td>
                <td th:text="${modelMap.orderForm.total[iter.index]}">購入金額</td>
            </tr>
        </table>
        <div>
            <p>合計<span th:text="${modelMap.orderForm.grandTotal}">0</span>円(税込み)</p>
        </div>
    </div>
    
    <p><a href="service.html" th:href="@{/service}">取り扱い食材一覧へ</a></p>
    <p>キャンセルなどはこちら</p>
</body>
</html>